# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDGRSwUgAsSheVcjPSW-JisFdmxlG9gtrw
VITE_FIREBASE_AUTH_DOMAIN=ai-algo-trading.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-algo-trading
VITE_FIREBASE_STORAGE_BUCKET=ai-algo-trading.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=884432855586
VITE_FIREBASE_APP_ID=1:884432855586:web:fed5551a0c3f908623e07b

# Backend API
VITE_API_URL=http://localhost:8000
VITE_WS_URL=wss://socket.india.delta.exchange
